h1,h2{
    color:rgb(0, 15, 146);
}

.input_altura{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
input{
    height: 2em;
   display:flex;
   margin-bottom: 1.1rem;
   border:none;
   border-radius: 10px;
    
}

body{
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    align-items: center;
    display:flex;
    justify-content: center;
}
.area{
    display: flex;
    
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-color: rgb(241, 185, 0);
    display:inline-flex;
    padding: 3em;
    border-radius: 5%;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

button{
    background-color: rgb(0, 15, 146);
    height: 3em;
    width: 100%;
    border: none;
    color: rgb(241, 185, 0);
    border-radius: 30px;
    font-size: 1rem;
}

button:hover{
    cursor:pointer;
}